<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
	<menus>
		<menu name="notificationConfig">
			<title xml:lang="ko">댓글알림설정</title>
			<title xml:lang="en">Notification Configure</title>
		</menu>
	</menus>
    <actions>
        <action name="dispNotificationAdminConfig" type="view" menu_name="notificationConfig" />
        <action name="dispNotificationAdminList" type="view" admin_index="true" menu_name="notificationConfig" menu_index="true" />
        <action name="dispNotificationAdminInsert" type="view"  menu_name="notificationConfig" />
        <action name="dispNotificationAdminModify" type="view"  menu_name="notificationConfig" />

        <action name="getNotificationAdminDelete" type="model" />

        <action name="procNotificationAdminConfig" type="controller" />

        <action name="procNotificationAdminInsert" type="controller"  />
        <action name="procNotificationAdminDelete" type="controller"  />
    </actions>
</module>
